{% extends "template.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h2>Account Merge</h2>
    <form class="col-md-9" method="POST" action="/account/merge">
        <div class="form-group">
            <label for="main-account">Select the main account</label>
            <select id="main-account" name="main-account" class="select-account">
            </select>
        </div>
        <div class="form-group">
            <label for="account-to-merge">Select an account to merge</label>
            <select id="account-to-merge" name="account-to-merge" class="select-account">
            </select>
        </div>
        <div id="merge-check"><div>
    </form>
{% endblock %}

{% block script %}
<!-- Resources -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<script>
var select2 = $(".select-account").select2({
    placeholder: "Select an account",
    width: '50%', 
    ajax: {
        url: "/account/query",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            var query = {
                name: params.term,
            }
            // Query paramters will be ?name=[term]
            return query;
        }, 
        processResults: function (data) {
            return {
                results: data
            }
        }, 
    },
});
$('.select-account').on('change', function (e) {
    let mainAccount = $('#main-account').select2('data')[0];
    let accountToMerge = $('#account-to-merge').select2('data')[0];
    if(mainAccount && accountToMerge) {
        $('#merge-check').html('Waiting server response, if you see this message for long time, please contact james.guo@tp-link.com');
        $.ajax({
            method: "GET",
            url: "/account/merge-check",
            data: { 
                id1: mainAccount.id, 
                id2: accountToMerge.id 
            }
        }).done(function( response ) {
            $('#merge-check').html(response);
        });
    }
    else {
        $('#merge-check').html('Please select both accounts for merge check');
    }
});
$('form').submit(function() {
    $(this).find("button[type='submit']").html('Merging');
    $(this).find("button[type='submit']").prop('disabled',true);
});
</script>
{% endblock %}
