{% extends "template.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Account Search
    </h1>
    <h2>Search Result for "{{account_name}}"</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Account</th>
                <th>YTD Revenue</th>
                <th>Type</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
        {% for idx, account in account_df.iterrows() %}
            <tr>
                <td>{{account.account_name}}</td>
                <td>{{account.revenue / 100}}</td>
                <td>{{account.account_type}}</td>
                <td><a href="/account/{{account.account_id}}?start={{report_range[0]}}&end={{report_range[1]}}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-link" onclick="newAccount()" type="button">Add new account in case no result is found</button>
    <form id="new-account" class="form-group"  method="POST" style="display:none" >
        <label for="account-name">Name</label>
        <input class="form-control" name="account-name">
        <label for="account-tax">Tax</label>
        <input class="form-control" name="account-tax">
        <label for="account-street">Street</label>
        <input class="form-control" name="account-street">
        <label for="account-postcode">Postcode</label>
        <input class="form-control" name="account-postcode">
        <label for="account-city">City</label>
        <input class="form-control" name="account-city">
        <label for="account-url">Website</label>
        <input class="form-control" name="account-url">
        <button class="btn btn-primary" type="submit" name="submit" value="new-account">Submit</button>
    </form>

{% endblock %}

{% block script %}
<script>
var newAccount = function() {
    $('#new-account').show();
};
</script>
{% endblock %}
