{% extends "template.html" %}
{% block content %}
    <h1 class="page-header">
        {{sku}} AMAZON {{country}} Review Trend
    </h1>
    <h2>D30 Review</h2>
    <div id="d30-review" style="height: 400px"></div>
    <h2>Accumulative Review</h2>
    <div id="accumulative-review" style="height: 400px"></div>
{% endblock %}


{% block script %}
<!-- Resources -->
<script src="{{url_for('static', filename='highcharts/highcharts.js')}}"></script>

<script>
// Accumulative Review
$(function () {
    Highcharts.chart('accumulative-review', {
        chart: {
            zoomType: 'x', 
        },
        title: {
            text: '{{sku}} Accumulative Review'
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Star'
            },
            allowDecimals: false,
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Star',
                data: [
                    // Date.UTC() in JS use 0-11 to represent month
                    {% for idx, row in accumulative_review_df.iterrows() %}
                      [Date.UTC({{idx.year}}, {{idx.month-1}}, {{idx.day}}), {{row.star}}],
                    {% endfor %}
                ]
            }, 
        ]
    });
});

// D30 Review
$(function () {
    Highcharts.chart('d30-review', {
        chart: {
            zoomType: 'x', 
        },
        title: {
            text: '{{sku}} D30 Review'
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Star'
            },
            allowDecimals: false,
            min: 0
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Star',
                data: [
                    // Date.UTC() in JS use 0-11 to represent month
                    {% for idx, row in d30_review_df.iterrows() %}
                      [Date.UTC({{idx.year}}, {{idx.month-1}}, {{idx.day}}), {{row.star}}],
                    {% endfor %}
                ]
            }, 
        ]
    });
});

</script>
{% endblock %}
