{% extends 'template.html' %}
{% block content %}

{% block head %}
<link href="{{url_for('static', filename='datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet" />
{% endblock %}

<h1 class="page-header">
    Upload Amazon Traffic
</h1>

<form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
    <p>Please use the exact template to upload data. <a href="{{url_for('static', filename='download/amazon_traffic_template.xlsx')}}">Download Template</a></p>
    <div class="form-group row">
        <label for="account-name" class="col-sm-2 col-form-label">Account: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="account-name" value="AMAZON {{user.country}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="amazon-traffic-file" class="col-sm-2 col-form-label">File: </label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" name="amazon-traffic-file" id="amazon-traffic-file">
        </div>
    </div>
    <div id="upload-status"></div>
    <h2>Date Format Check</h2>
    <div id="dateFormat-response"></div>
    <h2>Date Consistency Check</h2>
    <div id="dateConsistency-response"></div>
    <h2>Header Check</h2>
    <div id="header-response"></div>
    <h2>ASIN Check</h2>
    <div id="asin-response"></div>
    <h2>Duplication Check</h2>
    <div id="duplication-response"></div>
    <button type="submit" value="Upload" class="btn btn-primary" id="submit" style="display:none;" onclick="changeSubmissionState()">Submit</button>
</form>

{% endblock %}

{% block script %}

<script>
$('form').submit(function() {
    $(this).find("button[type='submit']").html('Uploading');
    $(this).find("button[type='submit']").prop('disabled',true);
});
$(document).on('change','#amazon-traffic-file' , function(){ 
    $('#upload-status').html('<div class="alert alert-info">Checking uploaded file, please wait</div>');
    var amazonTrafficForm = new FormData();
    amazonTrafficForm.append('amazon-traffic-file', $('#amazon-traffic-file').prop('files')[0]);
    var amazonTrafficRequest = new XMLHttpRequest();
    amazonTrafficRequest.open("POST", "/amazon-traffic/upload-check");
    amazonTrafficRequest.send(amazonTrafficForm);
    amazonTrafficRequest.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200) {
            $('#upload-status').html('<div class="alert alert-success">Uploading completed</div>');
            amazonSoiResponse = JSON.parse(amazonTrafficRequest.response);
            // Date format check
            if(amazonSoiResponse.dateFormat == 'pass') {
                $('#dateFormat-response').html('<div class="alert alert-success">Date format check - ok</div>');
                
            }
            else if(!amazonSoiResponse.dateFormat){
                $('#dateFormat-response').text('Please fix the error above to perform date check.');
            }
            else {
                $('#dateFormat-response').html('<div class="alert alert-danger">The format of date ' + amazonSoiResponse.dateFormat + ' is not correct (date must be format like 19890824)</div>');
                $('#amazon-traffic-file').val('');
            }
            // Date consistency check
            if(amazonSoiResponse.dateConsistency == 'pass') {
                $('#dateConsistency-response').html('<div class="alert alert-success">Date consistency check - ok</div>');
                
            }
            else if(!amazonSoiResponse.dateConsistency){
                $('#dateConsistency-response').text('Please fix the error above to perform date check.');
            }
            else {
                $('#dateConsistency-response').html('<div class="alert alert-danger">Date in file name does not match date in file content</div>');
                $('#amazon-traffic-file').val('');
            }
            // Header check
            if(amazonSoiResponse.header == 'pass') {
                $('#header-response').html('<div class="alert alert-success">Header check - ok</div>');
                
            }
            else if(!amazonSoiResponse.header){
                $('#header-response').text('Please fix the error above to perform header check.');
            }
            else {
                $('#header-response').html('<div class="alert alert-danger">The following column name is not correct (date must be format like 1989-08-24)</div>');
                for (var i in amazonSoiResponse.header) {
                    $('#header-response').append('<div>'+ amazonSoiResponse.header[i] +'</div>');
                }
                $('#amazon-traffic-file').val('');
            }
            // ASIN check
            if(amazonSoiResponse.asin == 'pass') {
                $('#asin-response').html('<div class="alert alert-success">ASIN check - ok</div>');
            }
            else if(!amazonSoiResponse.asin){
                $('#asin-response').text('Please fix the error above to perform asin check');
            }
            else {
                $('#asin-response').append('<div class="alert alert-danger">The following ASIN are not found in the system. Please modify your submission, or contact james.guo@tp-link.com</div>');
                for (var i in amazonSoiResponse.asin) {
                    $('#asin-response').append('<div>'+ amazonSoiResponse.asin[i] +'<div>');
                }
                $('#amazon-traffic-file').val('');
            }
            // Duplication check
            if(amazonSoiResponse.duplication == 'pass') {
                $('#duplication-response').html('<div class="alert alert-success">Sellout check - ok</div>');
            }
            else if(!amazonSoiResponse.duplication){
                $('#duplication-response').text('Please fix the error above to perform duplication check');
            }
            else {
                $('#duplication-response').html('<div class="alert alert-danger">Sellout existed for ' + amazonSoiResponse.duplication + '</div>');
                $('#amazon-traffic-file').val('');
            }
            if (
                amazonSoiResponse.dateFormat == 'pass' && 
                amazonSoiResponse.dateConsistency == 'pass' && 
                amazonSoiResponse.header == 'pass' && 
                amazonSoiResponse.asin == 'pass' && 
                amazonSoiResponse.duplication == 'pass' 
            ) {
                $('#submit').show();
            }
        } else {
                $('#upload-status').html('Error in submitting, please retry. If the problem exists, please contact james.guo@tp-link.com');
        }
    } // amazonTrafficRequest.onreadystatechange
}); // On change
</script>
{% endblock %}
