{% extends 'template.html' %}
{% block content %}

<h1 class="page-header">
    Upload ASIN
</h1>

<form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
    <p>Please use the exact template to upload data. <a href="{{url_for('static', filename='download/asin_template.xlsx')}}">Download Template</a></p>
    <div class="form-group row">
        <label for="asin-file" class="col-sm-2 col-form-label">File: </label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" name="asin-file" id="asin-file">
        </div>
    </div>
    <div id="upload-status"></div>
    <h2>Header Check</h2>
    <div id="header-response"></div>
    <h2>SKU Check</h2>
    <div id="sku-response"></div>
    <button type="submit" value="Upload" class="btn btn-primary" id="submit" style="display:none;" onclick="changeSubmissionState()">Submit</button>
</form>

{% endblock %}

{% block script %}
<script>
$('form').submit(function() {
    $(this).find("button[type='submit']").html('Uploading');
    $(this).find("button[type='submit']").prop('disabled',true);
});
$(document).on('change','#asin-file' , function(){ 
    $('#upload-status').html('<div class="alert alert-info">Checking uploaded file, please wait</div>');
    var asinForm = new FormData();
    asinForm.append('asin-file', $('#asin-file').prop('files')[0]);
    var asinRequest = new XMLHttpRequest();
    asinRequest.open("POST", "/asin/upload-check");
    asinRequest.send(asinForm);
    asinRequest.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200) {
            $('#upload-status').html('<div class="alert alert-success">Uploading completed</div>');
            asinResponse = JSON.parse(asinRequest.response);
            // Header check
            if(asinResponse.header == 'pass') {
                $('#header-response').html('<div class="alert alert-success">Header check - ok</div>');
                
            }
            else if(!asinResponse.header){
                $('#header-response').text('Please fix the error above to perform header check.');
            }
            else {
                $('#header-response').html('<div class="alert alert-danger">Please include the following columns into submission (Header must be with the exact name)</div>');
                for (var i in asinResponse.header) {
                    $('#header-response').append('<div>'+ asinResponse.header[i] +'</div>');
                }
                $('#asin-file').val('');
            }
            // SKU check
            if(asinResponse.sku == 'pass') {
                $('#sku-response').html('<div class="alert alert-success">Customer name check - ok</div>');
            }
            else if(!asinResponse.sku){
                $('#sku-response').text('Please fix the error above to submit');
            }
            else {
                $('#sku-response').html('<div class="alert alert-danger">The following skus are not found in the system</div>');
                for (var i in asinResponse.sku) {
                    $('#sku-response').append('<div>'+ asinResponse.sku[i] +'<div>');
                }
                $('#asin-file').val('');
            }
            if (
                asinResponse.header == 'pass' && 
                asinResponse.sku == 'pass' 
            ) {
                $('#submit').show();
            }
        } else {
            $('#upload-status').html('Error in submitting, please retry. If the problem exists, please contact james.guo@tp-link.com');
        }
    } // asinRequest.onreadystatechange
}); // On change
</script>
{% endblock %}
