{% extends "template.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h2>Conrad Store SOI (Sell Out and Inventory) - Parameter Input</h2>
    <div class='row'>
        <form class="col-md-9" method="GET" action="/conrad-soi/store">
            <label for="report-range">Date range</label>
            <div class="input-daterange input-group" id="report-range">
                <span class="input-group-addon">From</span>
                <input type="text" class="input-sm form-control" id="start" name="start" value="{{report_day_start.strftime("%Y-%m-%d")}}" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" id="end" name="end" value="{{report_day_end.strftime("%Y-%m-%d")}}" />
            </div>
            <label for="store">Store</label>
            <div class="input-group">
                <select id="store" name="store">
                    <option value="{{current_store}}">{{current_store}}</option>
                    <option value="ALL">ALL</option>
                    {% for store in stores %}
                    <option value="{{store}}">{{store}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% if soi_df is defined %}
    <h2>Conrad SOI - {{current_store}} Store</h2>
    <table class="table table-striped" id="soi-table">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Stock</th>
                <th>Sellout</th>
                <th>WOC</th>
            </tr>
        </thead>
        <tbody>
            {% for id, data in soi_df.iterrows() %}
            <tr{% if data['woc'] < 2 %} class="danger"{% endif %}>
                <td>{{data['sku']}}</td>
                <td>{{data['stock']}}</td>
                <td>{{data['sellout']}}</td>
                <td>{{data['woc']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block script %}
<!-- Select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<!-- Date-Picker Plugin -->
<script src="{{url_for('static', filename='datepicker/js/bootstrap-datepicker.min.js')}}"></script>

<script>
$(document).ready(function() {
    $('#start').datepicker({
        format: "yyyy-mm-dd", 
        autoclose: true, 
        daysOfWeekDisabled: "023456", 
    });
    $('#end').datepicker({
        format: "yyyy-mm-dd", 
        autoclose: true, 
        daysOfWeekDisabled: "023456", 
    });
});
var select2 = $("#store").select2({
});
</script>
{% endblock %}
