{% extends "template.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1 class="page-header">
        TP-Link CRM
    </h1>
<!--
    <div class="alert alert-danger" role="alert">
        <strong>Warning!</strong> The site is in maintainance, many features are offline temporarily. 
    </div>
-->

    <h2>Amazon Toolkit</h2>
    <a href="/amazon-soi/dashboard" class="btn btn-primary">Amazon SOI</a>
    <a href="/amazon-review/dashboard" class="btn btn-primary">Amazon Review</a>

    <h2>Conrad Toolkit</h2>
    <a href="/conrad-soi/dashboard" class="btn btn-primary">Conrad SOI Dashboard</a>
    <a href="/conrad-soi/store" class="btn btn-primary">Conrad SOI Store</a>
    <a href="/conrad-sellin-sellout" class="btn btn-primary">Grey Market Analysis</a>

    <h2>Price Report</h2>
    <a href="/price/dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/price/query" class="btn btn-primary">Query</a>
    <a href="/pricelink/edit" class="btn btn-primary">Edit Links</a>

    <h2>Stock Report</h2>
    <a href="/stock/query" class="btn btn-primary">Query</a>
<!--
    <a href="/stock/dashboard" class="btn btn-primary">Dashboard</a>

    <a href="/sellin/dashboard" target="_blank" class="btn btn-primary">Dashboard</a>
    <a href="/report-by-account/start" target="_blank" class="btn btn-primary">Customized Report by Account</a>
    <br><br>
-->
    <h2>Report</h2>
    <label for="account-search">View by Account</label>
    <form class="form-group" id="account-search" method="GET" action="/account/search">
    <div class="input-group col-md-9">
        <input type="text" id="search-account" class="search-query form-control" name="account-name" placeholder="Search for Account">
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    </form>
    <label for="manager">View by Manager</label>
    <div class="row">
        <div class="col-md-9">
            <p id="manager-msg" style="display: none;"></p>
            <select id="manager">
                <option></option>
                {% for manager in managers %}
                <option value={{manager.id}}>{{manager.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <h2>Project Pipeline</h2>
    <a href="{{ url_for('addOpportunity') }}" class="btn btn-primary">Registration</a>
    <a href="{{ url_for('opportunityDashboard') }}" class="btn btn-primary">Dashboard</a>

    <h2>Geographic Analysis</h2>
    <a href="/customerfinder/start" class="btn btn-primary">Customer Finder</a>

    <h2>Download product info</h2>
    <a href="/product/download" class="btn btn-primary">Product Info</a>

    {% if 'uploader' in login.roles %}
    <h2>Admin Section</h2>
    <a href="{{ url_for('mergeAccount') }}" class="btn btn-primary">Merge Account</a>
    {% endif %}

<!--
    <h2>Operational Measurement</h2>
    <a href="/operational/dashboard" class="btn btn-primary">Dashboard</a>

    <div>
        <label for="account-detail">View by Account</label>
        <select id="account-detail" name="account-detail"></select>
    </div>

    <h2>Stock Report</h2>
    <div>
        <label for="distri-woc">WOC by Distributor</label>
        <select id="distri-woc">
            <option></option>
            {% for distributor in distributors %}
            <option value={{distributor.id}}>{{distributor.name}}</option>
            {% endfor %}
        </select>
    </div>

    <h2>Upload Data</h2>
    <a href="/sellout/upload" class="btn btn-primary">Upload Sellout</a>
    <a href="/stock/upload" class="btn btn-primary">Upload Stock</a>
    <a href="/distri-cost/upload" class="btn btn-primary">Upload Distributor Cost</a>
    <a href="/focused/upload" class="btn btn-primary">Upload Focused Product</a>
    <a href="/msrp/upload" class="btn btn-primary">Upload MSRP</a>

-->
{% endblock %}

{% block script %}
<!-- Select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<script>
var select2 = $("#manager").select2({
    placeholder: "Select a Manager",
    width: "100%"
});
select2.on("select2:select", function () { 
    var manager_id = $("#manager").select2("data")[0].id;
    var manager_name = $("#manager").select2("data")[0].text;
    window.location.href = '/manager/' + manager_id; 
    $("#manager").prop("disabled", true);
    $("#manager-msg").text("Calculating sales data of " + manager_name + ". Please wait. This may take time depending on account number under management");
    $("#manager-msg").show();
});
</script>
{% endblock %}
