{% extends "template.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1 class="page-header">
        TP-Link CRM
    </h1>
<!--
    <div class="alert alert-danger" role="alert">
        <strong>Warning!</strong> The site is in maintainance, many features are offline temporarily. 
    </div>
-->
    <h2>Amazon category link</h2>
    {% if country=="ES" %}
    <a href="https://www.amazon.es/gp/bestsellers/computers/937958031" target="_blank" class="btn btn-primary">Overview</a>
    <a href="https://www.amazon.es/gp/bestsellers/computers/937973031" target="_blank" class="btn btn-primary">Repeater</a>
    <a href="https://www.amazon.es/gp/bestsellers/computers/937960031" target="_blank" class="btn btn-primary">Powerline</a>
    <a href="https://www.amazon.es/gp/bestsellers/computers/937965031" target="_blank" class="btn btn-primary">Switch</a>
    <a href="https://www.amazon.es/gp/bestsellers/computers/937974031/" target="_blank" class="btn btn-primary">Router</a>
    {% elif country=="DE" %}
    <a href="https://www.amazon.de/gp/bestsellers/computers/" target="_blank" class="btn btn-primary">Overview</a>
    <a href="https://www.amazon.de/gp/bestsellers/computers/430153031/" target="_blank" class="btn btn-primary">Repeater</a>
    <a href="https://www.amazon.de/gp/bestsellers/computers/430151031/" target="_blank" class="btn btn-primary">Powerline</a>
    <a href="https://www.amazon.de/gp/bestsellers/computers/430150031/" target="_blank" class="btn btn-primary">Switch</a>
    <a href="https://www.amazon.de/gp/bestsellers/computers/430154031/" target="_blank" class="btn btn-primary">Router</a>
    {% endif %}

    <h2>Price Report</h2>
    <a href="/price/dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/pricelink/edit" class="btn btn-primary">Edit Links</a>

    <h2>Distributor Stock Report</h2>
    <a href="/stock/dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/stock/query" class="btn btn-primary">Query</a>

    <h2>Sales Report</h2>
    <a href="/sellin/dashboard" target="_blank" class="btn btn-primary">Dashboard</a>
    <a href="/report-by-account/start" target="_blank" class="btn btn-primary">Customized Report by Account</a>
    <br><br>
    <label for="account-search">View by Account</label>
    <form class="form-group" id="account-search" method="GET" action="/account/search">
    <div class="input-group col-md-9">
        <input type="text" id="search-account" class="search-query form-control" name="account-name" placeholder="Search for Account">
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    </form>

    <h2>Operational Measurement</h2>
    <a href="/operational/dashboard" class="btn btn-primary">Dashboard</a>

    <h2>Download product info</h2>
    <a href="/product/download" class="btn btn-primary">Product Info</a>

<!--
    <div>
        <label for="account-detail">View by Account</label>
        <select id="account-detail" name="account-detail"></select>
    </div>
    <div>
        <label for="manager">View by Manager </label>
        <select id="manager">
            <option></option>
            {% for manager in managers %}
            <option value={{manager.id}}>{{manager.name}}</option>
            {% endfor %}
        </select>
    </div>

    <h2>Stock Report</h2>
    <div>
        <label for="distri-woc">WOC by Distributor</label>
        <select id="distri-woc">
            <option></option>
            {% for distributor in distributors %}
            <option value={{distributor.id}}>{{distributor.name}}</option>
            {% endfor %}
        </select>
    </div>

    <h2>Upload Data</h2>
    <a href="/sellout/upload" class="btn btn-primary">Upload Sellout</a>
    <a href="/stock/upload" class="btn btn-primary">Upload Stock</a>
    <a href="/distri-cost/upload" class="btn btn-primary">Upload Distributor Cost</a>
    <a href="/focused/upload" class="btn btn-primary">Upload Focused Product</a>
    <a href="/msrp/upload" class="btn btn-primary">Upload MSRP</a>

-->
{% endblock %}

{% block script %}
<!-- Select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<script>
var select2 = $("#sellout-yoy-accounts").select2({
    placeholder: "Select an account",
    width: '50%', 
});
select2.on("select2:select", function () { 
    var account_id = $("#sellout-yoy-accounts").select2("data")[0].id;
    window.location.href = '/sellout/dashboard-yoy?account=' + account_id; 
});
var select2 = $("#distri-woc").select2({
    placeholder: "Select a distributor",
    width: '50%', 
});
select2.on("select2:select", function () { 
    var account_id = $("#distri-woc").select2("data")[0].id;
    window.location.href = '/woc/download?account=' + account_id; 
});
var select2 = $("#sellout-products").select2({
    placeholder: "Select a product",
    width: '50%', 
});
select2.on("select2:select", function () { 
    var product_id = $("#sellout-products").select2("data")[0].id;
    window.location.href = '/sellout/query?product=' + product_id; 
});
var select2 = $("#account-detail").select2({
    placeholder: "Select an account",
    width: '50%', 
    ajax: {
        url: "/account/query",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            var query = {
                name: params.term,
            }
            // Query paramters will be ?name=[term]
            return query;
        }, 
        processResults: function (data) {
            return {
                results: data
            }
        }, 
    },
});
select2.on("select2:select", function () { 
    var account_id = $("#account-detail").select2("data")[0].id;
    window.location.href = '/account/' + account_id + '?start={{report_range[0].isoformat()}}&end={{report_range[1].isoformat()}}'; 
});
var select2 = $("#manager").select2({
    placeholder: "Select a Manager",
    width: '50%', 
});
select2.on("select2:select", function () { 
    var manager_id = $("#manager").select2("data")[0].id;
    window.location.href = '/manager/' + manager_id; 
});
</script>
{% endblock %}
