{% extends 'template.html' %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body" style="white-space: pre-line;"></div>
    </div>
  </div>
</div>

<h1 class="page-header">
    Customer Interaction Dashboard
</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Account</th>
            <th>YTD Revenue</th>
            <th>Type</th>
            <th>Manager</th>
            <th>Interaction</th>
            <th>Note</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for idx, row in interaction_df.iterrows() %}
        <tr>
            <td>{{row['date'].strftime('%Y-%m-%d')}}</td>
            <td>
                <a href="/account/{{row.account_id}}?start={{report_day_start.strftime('%Y-%m-%d')}}&end={{report_day_end.strftime('%Y-%m-%d')}}" target="_blank">
                    {% if row.account|length < 20 %}
                    {{row['account']}}
                    {% else %}
                    {{row['account'][:20]+'...'}}
                    {% endif %}
                </a>
            </td>
            <td>{{row['revenue'] / 100}}</td>
            <td>{{row['type']}}</td>
            <td>{{row['manager']}}</td>
            <td>{{row['interaction']}}</td>
            {% if row.note|length < 50 %}
            <td>{{row.note[:50]}}</td>
            {% else %}
            <td>{{row.note[:50]+'...'}}</td>
            {% endif %}
            <td><a href="#" onclick="note{{idx}}Show(); return false;">Show Note</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}
<script>
{% for idx, row in interaction_df.iterrows() %}
var note{{idx}}Show = function() {
    var modalBody = $('#modal-body');
    modalBody.html(`{{row.note}}`);
    $('#modal').modal('show');
}
{% endfor %}
</script>
{% endblock %}
