{% extends 'template.html' %}
{% block content %}

<h1 class="page-header">
    Operational Dashboard
</h1>
<h2>
    Data Upload
</h2>
<p>To upload PL status, click <a href="/operational/pl-upload">here</a>.</p> 

{% if urgent_pls %}
<h2>
    Urgent Packing List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SO</th>
            <th>PL Date</th>
            <th>Customer</th>
            <th>PI</th>
            <th>Ready Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Invoice Date</th>
        </tr>
    </thead>
    <tbody>
        {% for urgent_pl in urgent_pls %}
        <tr>
            <td>{{urgent_pl['so']}}</td>
            <td>{{urgent_pl['pl_date']}}</td>
            <td>{{urgent_pl['customer']}}</td>
            <td>{{urgent_pl['pi']}}</td>
            <td>{{urgent_pl['ready_date']}}</td>
            {% if urgent_pl['required_date'] %}
            <td>{{urgent_pl['required_date'].strftime('%Y-%m-%d')}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if urgent_pl['shipped_date'] %}
            <td>{{urgent_pl['shipped_date'].strftime('%Y-%m-%d')}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if urgent_pl['invoice_date'] %}
            <td>{{urgent_pl['invoice_date'].strftime('%Y-%m-%d')}}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h2>
    Open Packing List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SO</th>
            <th>PL Date</th>
            <th>Customer</th>
            <th>PI</th>
            <th>Ready Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Invoice Date</th>
        </tr>
    </thead>
    <tbody>
        {% for open_pl in open_pls %}
        <tr>
            <td>{{open_pl['so']}}</td>
            <td>{{open_pl['pl_date']}}</td>
            <td>{{open_pl['customer']}}</td>
            <td>{{open_pl['pi']}}</td>
            <td>{{open_pl['ready_date']}}</td>
            {% if open_pl['required_date'] %}
            <td>{{open_pl['required_date'].strftime('%Y-%m-%d')}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if open_pl['shipped_date'] %}
            <td>{{open_pl['shipped_date'].strftime('%Y-%m-%d')}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if open_pl['invoice_date'] %}
            <td>{{open_pl['invoice_date']}}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
