{% extends "template.html" %}
{% block content %}
    <h1 class="page-header">
        View Price of All SKU
    </h1>
    <div>
        Please contact James if info is missing for a certain product
    </div>
    <div class="input-group col-md-12">
        <input type="text" id="search-sku" class="search-query form-control" onkeyup="searchSku()" placeholder="Search for SKU">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <table class="table table-striped" id="price-table">
        <thead>
            <tr>
                <th>SKU</th>
                {% for account in accounts %}
                <th>{{account}}</th>
                {% endfor %}
                <th>Min</th>
                <th>LEP</th>
                <th>Gap</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id, data in df.iterrows() %}
            <tr>
                <td>{{data['sku']}}</td>
                {% for account in accounts %}
                <td><a href="{{data[account].link}}" target="_blank">{{data[account].price/100}}</a></td>
                {% endfor %}
                <td>{{data['min']/100}}</td>
                <td>{{data['lep']/100}}</td>
                <td>{{"{:.1%}".format(data['gap'])}}</td>
                <td><a href="/price/history?product={{product_id}}" target="_blank">History</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block script %}
<script>
function searchSku() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("search-sku");
    filter = input.value.toUpperCase();
    table = document.getElementById("price-table");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        } 
    }
}
</script>
{% endblock %}
