{% extends "template.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Sales Dashboard
    </h1>
    <h2>Sales Overview</h2>
    <label class="radio-inline"><input type="radio" name="sellin-optradio" checked="checked" id="sellin-revenue">Revenue</label>
    <label class="radio-inline"><input type="radio" name="sellin-optradio" id="sellin-qty">Qty</label>
    <div id="sellin" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Customer Width</h2>
    <div id="customer-width" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Customer Depth</h2>
    <div id="customer-depth" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Sales Overview</h2>
    <div id="sellin-overview" style="width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Sales by Category</h2>
    <div id="sellin-category" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Sales by Sub-Category</h2>
    <div id="sellin-sub-category" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <h2>Sales by SKU</h2>
    <label class="radio-inline"><input type="radio" name="sellin-sku-optradio" checked="checked" id="sellin-sku-revenue">Revenue</label>
    <label class="radio-inline"><input type="radio" name="sellin-sku-optradio" id="sellin-sku-qty">Qty</label>
    <div id="sellin-sku" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='highcharts/modules/exporting.js')}}"></script>

<script>
// Sellin Overview
var sellinRevenueData = [
        {% for idx, column in sellin_df.revenue.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
var sellinQtyData = [
        {% for idx, column in sellin_df.qty.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
// Revenue button action 
var element = document.getElementById('sellin-revenue');
$(element).click(function () {
    sellinChart.update({
        series: sellinRevenueData,
        yAxis: {
            title: {
                text: 'Sellin (EUR)'
            },
            min: 0
        },
    });
});
// Qty button action 
var element = document.getElementById('sellin-qty');
$(element).click(function () {
    sellinChart.update({
        series: sellinQtyData,
        yAxis: {
            title: {
                text: 'Qty'
            },
            min: 0
        },
    });
});
var sellinChart = Highcharts.chart('sellin', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin'
    },
    xAxis: {
        categories: [
            {% for idx, row in sellin_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: sellinRevenueData, 
});

// Active Customer Number
Highcharts.chart('customer-width', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Active Customer Number'
    },
    xAxis: {
        categories: [
            {% for idx, column in customer_width_df.iteritems() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Count'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in customer_width_df.iterrows() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});

// Customer Depth
Highcharts.chart('customer-depth', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Active Customer Number'
    },
    xAxis: {
        categories: [
            {% for idx, column in customer_depth_df.iteritems() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Count'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in customer_depth_df.iterrows() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});

// Sellin Overview
Highcharts.chart('sellin-overview', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin Overview ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [''],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, row in overview_df.iterrows() %}
        {
            name: "{{idx}}", 
            data: [
                {{row.revenue/100}},
            ]
        }, 
        {% endfor %}
    ]
});

// Category
Highcharts.chart('sellin-category', {
    chart: {
        type: 'column'
    },
    title: {
text: 'Sellin by Category ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in category_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in category_df.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});

// Sub-Category
Highcharts.chart('sellin-sub-category', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin by Sub-category ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in sub_category_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in sub_category_df.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});

// SKU
var skuRevenueData = [
        {% for idx, column in sku_df.revenue.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
var skuQtyData = [
        {% for idx, column in sku_df.qty.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
// Revenue button action 
var element = document.getElementById('sellin-sku-revenue');
$(element).click(function () {
    skuChart.update({
        series: skuRevenueData,
        yAxis: {
            title: {
                text: 'Qty'
            },
            min: 0
        },
    });
});
// Qty button action 
var element = document.getElementById('sellin-sku-qty');
$(element).click(function () {
    skuChart.update({
        series: skuQtyData,
        yAxis: {
            title: {
                text: 'Sellin (EUR)'
            },
            min: 0
        },
    });
});
var skuChart = Highcharts.chart('sellin-sku', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin by SKU ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in sku_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: skuRevenueData, 
});

</script>
{% endblock %}
