{% extends "public_template.html" %}

{% block head %}
{% endblock %}

{% block content %}
<form id="reset-pwd-form" class="form-horizontal col-sm-10" style="max-width:330px;" method='post' action='/reset?uid={{uid}}&token={{token}}'>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="passwd" type="password" class="form-control" name="passwd" placeholder="password">
    </div>
    <div class='text-danger' id='login-passwd-error'>{{error_msg['passwdError']}}</div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="re-passwd" type="password" class="form-control" name="re-passwd" placeholder="repeat password">
    </div>
    <div class='text-danger' id='login-passwd-error'>{{error_msg['rePasswdError']}}</div>
    <div class="input-group">
        <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
                <input type="submit" value="Reset" id='login-btn' class="btn btn-success">
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{% endblock %}
