{% extends "template.html" %}
{% block content %}
    <h1 class="page-header">
        {{account_name}} Sellout YOY
    </h1>
    <h2>
        {{account_name}} Sellout Overview
    </h2>
    <div id="Overview" style="height: 400px"></div>
    {% for category in categories %}
    <h2>
        {{account_name}} {{category}} Sellout <a href="/category/{{category}}-yoy?account={{account_id}}" target="_blank" class="btn btn-primary">Details</a>
    </h2>
    <div id="{{category}}" style="height: 400px"></div>
    {% endfor %}
{% endblock %}


{% block script %}
<!-- Resources -->
<script src="{{url_for('static', filename='highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='highcharts/modules/exporting.js')}}"></script>

<!-- Line chart Overview -->
<script>
$(function () {
    Highcharts.chart('Overview', {
        chart: {
            type: 'spline', 
            zoomType: 'x', 
        },
        title: {
            text: '{{account_name}} Sellout Overview (by Revenue)'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { 
                day: '%b %e',
                month: '%b %e',
                year: '%b', // don't display the dummy year
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Sellout (EUR)'
            },
            allowDecimals: false,
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%b %e}: {point.y}', 
            crosshairs: [true,true], 
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [
            {% for year in years %}
            {
                name: '{{year}}',
                // Define the data points. All series have a dummy year
                // of 1970/71 in order to be compared on the same x axis. Note
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: [
                    {% for idx, result in result_dict['Overview'][year].iterrows() %}
                      [Date.UTC({{base_year}}, {{result.date.month-1}}, {{result.date.day}}), {{result.total/100}}],
                    {% endfor %}
                ]
            }, 
            {% endfor %}
        ]
    });
});

<!-- Line chart by category -->
{% for category in categories %}
    $(function () {
        Highcharts.chart('{{category}}', {
            chart: {
                type: 'spline', 
                zoomType: 'x', 
            },
            title: {
                text: '{{account_name}} {{category}} Sellout by Revenue'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { 
                    day: '%b %e',
                    month: '%b %e',
                    year: '%b', // don't display the dummy year
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Sellout (EUR)'
                },
                allowDecimals: false,
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%b %e}: {point.y}', 
                crosshairs: [true,true], 
            },

            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },

            series: [
                {% for year in years %}
                {
                    name: '{{year}}',
                    // Define the data points. All series have a dummy year
                    // of 1970/71 in order to be compared on the same x axis. Note
                    // that in JavaScript, months start at 0 for January, 1 for February etc.
                    data: [
                        {% for idx, result in result_dict[category][year].iterrows() %}
                          [Date.UTC({{base_year}}, {{result.date.month-1}}, {{result.date.day}}), {{result.total/100}}],
                        {% endfor %}
                    ]
                }, 
                {% endfor %}
            ]
        });
    });
{% endfor %}
</script>
{% endblock %}
