{% extends "template.html" %}

{% block head %}
<!-- Select2 Resources -->
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='summernote/summernote.css')}}" rel="stylesheet" />
<!-- Date-Picker Plugin -->
<link href="{{url_for('static', filename='datepicker/css/bootstrap-datepicker3.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}
<form class="col-md-9" method="POST">
    <div class="form-group">
        <label for="subject">Subject</label>
        <textarea class="form-control" id="subject" name="subject" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="to">Assign To</label>
        <select id="to" name="to" multiple="multiple" style="width:100%;">
            {% for user in users %}
            <option value="{{user.id}}">{{user.email}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="text" class="form-control" id="deadline" name="deadline">
    </div>
    <div class="form-group">
        <textarea id="detail" name="detail"></textarea>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" name="email-notification" value="1">Email Notification</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}


{% block script %}
<!-- Select2 Resources -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='summernote/summernote.min.js')}}"></script>

<!-- Date-Picker Plugin -->
<script src="{{url_for('static', filename='datepicker/js/bootstrap-datepicker.min.js')}}"></script>

<script>
    $(document).ready(function() {
        $("#to").select2();
        $('#detail').summernote({
            height: 150,   //set editable area's height
            // toolbar
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                // ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                // ['height', ['height']],
                ['table', ['table']],
                // ['insert', ['link', 'picture', 'hr']],
                ['insert', ['link', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
            ],
        });
        $('#deadline').datepicker({
            format: "yyyy-mm-dd", 
            autoclose: true, 
        });
    });
</script>
{% endblock %}
