{% extends "template.html" %}

{% block head %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h2>Basic info <button class="btn btn-primary" onclick="basicInfoToggle()" type="button">Edit</button></h2>
    <div id="basic-info">
        <div>
            <label for="account-name">Account name</label>
            <span id="account-name">{{account.name}}</span>
        </div>
        <div>
            <label for="account-tax">Tax number</label>
            <span id="account-tax">{{account.tax}}</span>
        </div>
        <div>
            <label for="account-type">Type</label>
            <span id="account-type">{{account.type}}</span>
        </div>
        <div>
            <label for="account-manager">Manager</label>
            <span id="account-manager">{{account.manager}}</span>
        </div>
        <div>
            <label for="account-url">Website</label>
            <span id="account-url"><a href="{{account.url}}" target="_blank">{{account.url}}</a></span>
        </div>
        <div>
            <label for="account-location">Location</label>
            <span id="account-location">{{"{}, {} {}".format(account.street, account.postcode, account.city)}}</span>
        </div>
        <div>
            <label for="account-store">Offline store</label>
            <span id="account-store">{{account.store}}</span>
        </div>
        {% if account.pam %}
        <div>
            <label for="account-pam">PAM</label>
            <span id="account-pam">{{'{:0.0f}'.format(account.pam/100)}}</span>
        </div>
        <div>
            <label for="account-share">Share</label>
            <span id="account-share">{{"{0:.0%}".format(past_365_days_revenue/account.pam)}} ({{past_365_days_revenue/100}} in past 365 days)</span>
        </div>
        {% endif %}
        {% if account.target %}
        <div>
            <label for="account-target">Target</label>
            <span id="account-target"> {{'{:0.0f}'.format(account.target/100)}}</span>
        </div>
        <div>
            <label for="account-progress">Progress</label>
            <span id="account-progress">{{"{0:.0%}".format(ytd_revenue/account.target)}} (YTD {{ytd_revenue/100}})</span>
        </div>
        {% endif %}
        {% if account.stage %}
        <div>
            <label for="account-stage">Stage</label>
            <span id="account-stage">{{account.stage}}</span>
        </div>
        {% endif %}
        <div>
            <label for="tp-partner">TP-Link Partner Status</label>
            <span id="tp-partner">{{ tp_partner_db or "Not a Partner"}}</span>
        </div>
        {% if competitor_partner_db %}
        <div>
            <label for="competitor-partners">Competitor Partner Program</label>
            <span id="competitor-partners">{{ ', '.join(competitor_partner_db) }}</span>
        </div>
        {% endif %}
    </div>
    <div id="basic-info-edit" style="display:none">
        <form class="form-group"  method="POST" action="{{ url_for('editAccount', account_id=account.id, start=date_start.strftime('%Y-%m-%d'), end=date_end.strftime('%Y-%m-%d')) }}">
            <label for="account-name">Account Name</label>
            <input class="form-control" name="account-name" value="{{account.name}}" readonly>
            <label for="account-tax">Tax Number</label>
            <input class="form-control" name="account-tax" value="{{account.tax or ''}}">
            <label for="account-type">Type</label>
            <select class="form-control" name="account-type">
                <option id='account-type-default' selected>{{account.type}}</option>
                <option value="UNCATEGORIZED">UNCATEGORIZED</option>
                <option value="ONLINE">ONLINE</option>
                <option value="SUB-DISTY">SUB-DISTY</option>
                <option value="ABROAD">ABROAD</option>
                <option value="ISP">ISP</option>
                <option value="RESELLER">RESELLER</option>
                <option value="RETAIL">RETAIL</option>
                <option value="B2B">B2B</option>
                <option value="OTHER INDUSTRY">OTHER INDUSTRY</option>
            </select>
            <label for="account-url">Website</label>
            <input class="form-control" name="account-url" value="{{account.url or ''}}">
            <label for="account-street">Street</label>
            <input class="form-control" name="account-street" value="{{account.street or ''}}">
            <label for="account-postcode">Postcode</label>
            <input class="form-control" name="account-postcode" value="{{account.postcode or ''}}">
            <label for="account-city">City</label>
            <input class="form-control" name="account-city" value="{{account.city or ''}}">
            <label for="account-pam">PAM</label>
            <input class="form-control" name="account-pam" value="{% if account.pam %}{{'{:0.0f}'.format(account.pam/100)}}{% else %}{% endif %}">
            <div class="form-check">
                <label class="form-check-label" for="account-store">Offline store</label>
                <input class="form-check-input" type="checkbox" value="account-store" name="account-store" {% if account.store %}checked {% endif %}>
            </div>
            <label for="account-stage">Stage</label>
            <select class="form-control" name="account-stage">
                <option id='account-stage-default' value='' selected>{{account.stage or ''}}</option>
                <option value="ACQUISITION">ACQUISITION</option>
                <option value="DEVELOPMENT">DEVELOPMENT</option>
                <option value="RETENTION">RETENTION</option>
                <option value="NOT INTERESTED">NOT INTERESTED</option>
                <option value="NO POTENTIAL">NO POTENTIAL</option>
            </select>
            <label for="tp-partner">Partner Status</label>
            <select class="form-control" name="tp-partner">
                <option value=""{% if not tp_partner_db %} selected{% endif %}>Not a Partner</option>
                {% for tp_partner in tp_partner_all %}
                <option value="TP-Link {{tp_partner}}"{% if tp_partner == tp_partner_db %} selected{% endif %}>{{tp_partner}}</option>
                {% endfor %}
            </select>
            <label for="competitor-partners">Competitor Partner Program</label>
            <select class="form-control" name="competitor-partners" multiple="multiple">
                {% for competitor_partner in competitor_partner_all %}
                <option value="{{competitor_partner}}" {% if competitor_partner in competitor_partner_db %} selected{% endif %}>{{competitor_partner}}</option>
                {% endfor %}
            </select>
            <br>
            <button class="btn btn-primary" type="submit" name="submit" value="basic-info-edit">Submit</button>
            <button class="btn btn-primary" onclick="basicInfoToggle()" type="button">Cancel</button>
        </form>
    </div>

    <h2>Contacts <button class="btn btn-primary" onclick="contactToggle(0)" type="button">Add</button></h2>
    <table class="table table-striped" id="contact">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Note</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
        {% for idx, row in account_contact_df[account_contact_df['primary']].iterrows() %}
            <tr class="warning">
                <td>{{row.contact_name}}</td>
                <td>{{row.title}}</td>
                <td>{{row.email}}</td>
                <td>{{row.phone}}</td>
                {% if row.note|length < 50 %}
                <td>{{row.note[:50]}}</td>
                {% else %}
                <td>{{row.note[:50]+'...'}}</td>
                {% endif %}
                <td><a onclick="contactToggle({{row.id}})" role="button">Edit</a></td>
            </tr>
        {% endfor %}
        {% for idx, row in account_contact_df[account_contact_df['primary']==False].iterrows() %}
            <tr>
                <td>{{row.contact_name}}</td>
                <td>{{row.title}}</td>
                <td>{{row.email}}</td>
                <td>{{row.phone}}</td>
                {% if row.note|length < 50 %}
                <td>{{row.note[:50]}}</td>
                {% else %}
                <td>{{row.note[:50]+'...'}}</td>
                {% endif %}
                <td><a onclick="contactToggle({{row.id}})" role="button">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form id="contact-edit" class="form-group"  method="POST" action="{{ url_for('editAccount', account_id=account.id, start=date_start.strftime('%Y-%m-%d'), end=date_end.strftime('%Y-%m-%d')) }}" style="display:none" >
        <input name="contact-id" type="hidden" id="contact-id">
        <label for="contact-name">Name</label>
        <input class="form-control" name="contact-name" id="contact-name">
        <label for="contact-title">Title</label>
        <input class="form-control" name="contact-title" id="contact-title">
        <label for="contact-email">Email</label>
        <input class="form-control" name="contact-email" id="contact-email">
        <label for="contact-phone">Phone</label>
        <input class="form-control" name="contact-phone" id="contact-phone">
        <label for="contact-mobile">Mobile</label>
        <input class="form-control" name="contact-mobile" id="contact-mobile">
        <label for="contact-note">Additional Note</label>
        <textarea class="form-control" name="contact-note" placeholder="Additional Notes here"></textarea>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="contact-primary" name="contact-primary" id="contact-primary">
            <label class="form-check-label" for="contact-primary">Primary Contact</label>
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="edit-contact">Submit</button>
        <button class="btn btn-primary" type="button" onclick="contactToggle(0)">Cancel</button>
        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#contact-delete-modal" id="contact-delete-btn">Delete</button>
    </form>

    <h2>Partner Profile</h2>

    <div id='partner-profile'>
        {% if (account_note_df['type']=='PRIMARY').any() %}
        {% for idx, row in account_note_df[account_note_df['type']=='PRIMARY'].iterrows() %}
        <div style="white-space: pre-wrap;">{{row.note}}</div>
            <button class="btn btn-primary" onclick="noteToggle('primary', {{row.id}})" type="button">Edit</button>
        </form>
        {% endfor %}
        {% else %}
        <div>No data available.<a onclick="noteToggle('primary', 0)" role="button">Add now!</a></div>
        {% endif %}
    </div>
    <form id="partner-profile-edit" class="form-group"  method="POST" action="{{ url_for('editAccount', account_id=account.id, start=date_start.strftime('%Y-%m-%d'), end=date_end.strftime('%Y-%m-%d')) }}" style="display:none">
        <input name="note-id" type="hidden" id="primary-id">
        <input name="type" value="PRIMARY" type="hidden">
        <input name="note-creator" value="{{user.id}}" type="hidden">
        <textarea class="form-control" name="note" placeholder="Edit Notes here" id="primary-note"></textarea>
        <button class="btn btn-primary" type="submit" name="submit" value="edit-note">Submit</button>
        <button class="btn btn-primary" onclick="noteToggle('primary', 0)" type="button">Cancel</button>
    </form>

    <h2>Interaction Log <button class="btn btn-primary" onclick="noteToggle('interaction', 0)" type="button">Add</button></h2>

    <div id='interaction'>
        {% if (account_note_df['type']!='PRIMARY').any() %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Manager</th>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
            {% for idx, row in account_note_df[account_note_df['type']!='PRIMARY'].iterrows() %}
                    <td>{{row.created.strftime('%Y-%m-%d')}}</td>
                    <td>{{row.manager_name}}</td>
                    <td>{{row.type}}</td>
                    {% if row.note|length < 100 %}
                    <td>{{row.note[:100]}}</td>
                    {% else %}
                    <td>{{row.note[:100]+'...'}}</td>
                    {% endif %}
                    <td><a onclick="noteToggle('interaction', {{row.id}})" role="button">Detail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>No data available</div>
        {% endif %}
    </div>
    <form id="interaction-edit" class="form-group"  method="POST" action="{{ url_for('editAccount', account_id=account.id, start=date_start.strftime('%Y-%m-%d'), end=date_end.strftime('%Y-%m-%d')) }}" style="display:none">
        <input name="note-id" type="hidden" id="interaction-id">
        <label for="type">Type</label>
        <select class="form-control" name="type" id="interaction-type">
            {% for interaction_type in INTERACTION_TYPE_ALL %}
            <option value="{{interaction_type}}">{{interaction_type}}</option>
            {% endfor %}
        </select>
        <div id="interaction-creator-div">
            <label for="note-creator">Creator</label>
            <select class="form-control" name="note-creator">
                {% for manager in managers %}
                <option value={{manager.id}} {% if manager.id == user.id %}selected{% endif %}>{{manager.name}}</option>
                {% endfor %}
            </select>
        </div>
        <label for="interaction-note">Note</label>
        <textarea class="form-control" name="note" placeholder="Edit Notes here" id="interaction-note"></textarea>
        <button class="btn btn-primary" type="submit" name="submit" value="edit-note">Submit</button>
        <button class="btn btn-primary" onclick="noteToggle('interaction', 0)" type="button">Cancel</button>
    </form>

    <h2>Purchase report</h2>
    {% if not monthview_df.empty %}
    <div id="sellin-by-month" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Month</th>
                {% for column in monthview_df.columns %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for idx, row in monthview_df.iterrows() %}
            <tr>
                <td>{{idx}}</td>
                {% for column in monthview_df.columns %}
                <td>{{row[column]/100}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>No data available</div>
    {% endif %}

    <h2>Sellin Overview</h2>
    {% if not overview_df.empty %}
    <div id="sellin-overview" style="width: 310px; height: 400px; margin: 0 auto"></div>
    {% else %}
    <div>No data available</div>
    {% endif %}

    <h2>Sellin by Distributor</h2>
    {% if not distri_df.empty %}
    <div id="sellin-distri" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    {% else %}
    <div>No data available</div>
    {% endif %}

    <h2>Sellin by Category</h2>
    {% if not category_df.empty %}
    <div id="sellin-category" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    {% else %}
    <div>No data available</div>
    {% endif %}

    <h2>Sellin by Sub-category</h2>
    {% if not sub_category_df.empty %}
    <div id="sellin-sub-category" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    {% else %}
    <div>No data available</div>
    {% endif %}

    <h2>Sellin by SKU</h2>
    {% if not sku_df.empty %}
    <label class="radio-inline"><input type="radio" name="sellin-sku-optradio" checked="checked" id="sellin-sku-revenue">Revenue</label>
    <label class="radio-inline"><input type="radio" name="sellin-sku-optradio" id="sellin-sku-qty">Qty</label>
    <a href="/sellin/detail?account={{account.id}}" class="btn btn-primary" target="_blank">Detail</a>
    <div id="sellin-sku" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        {% if sku_table_df.shape[1] >=2 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SKU</th>
                    {% for column in sku_table_df.columns %}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for sku, row in sku_table_df.iterrows() %}
                <tr{% if row.get('YoY') and row.get('YoY') < -0.5 %} class="danger"{% endif %}>
                    <td>{{sku}}</td>
                    {% for e in row[:-1] %}
                    <td>{{e}}</td>
                    {% endfor %}
                    <td>{{ '{:.0%}'.format(row[-1]) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% else %}
    <div>No data available</div>
    {% endif %}
    <!-- Delete Contact Confirmation -->
    <div class="modal fade" id="contact-delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modal-body">
                    <form class="form-group"  method="POST" action="{{ url_for('editAccount', account_id=account.id, start=date_start.strftime('%Y-%m-%d'), end=date_end.strftime('%Y-%m-%d')) }}">
                        <p>Are you sure to delete this contact?</p>
                        <input name="contact-id" type="hidden" id="contact-delete-id">
                        <button class="btn btn-danger" type="submit" name="submit" value="delete-contact">Delete</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='highcharts/modules/exporting.js')}}"></script>
<!-- Select2 -->
<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>

<script>
$('select').select2({
    width: "100%"
});
function basicInfoToggle() {
    $('#basic-info').toggle();
    $('#basic-info-edit').toggle();
};
var accountContacts = {
    0: {
        name: "", 
        title: "", 
        email: "", 
        phone: "", 
        mobile: "", 
        note: ``, 
        primary: "", 
    }, 
    {% for idx, row in account_contact_df.iterrows() %}
    {{row.id}}: {
        name: "{{row.contact_name}}", 
        title: "{{row.title}}", 
        email: "{{row.email}}", 
        phone: "{{row.phone}}", 
        mobile: "{{row.mobile}}", 
        note: `{{row.note}}`, 
        primary: "{{row.primary}}", 
    }, 
    {% endfor %}
}
function contactToggle(contactId) {
    $('#contact').toggle();
    $('#contact-edit').toggle();
    $('#contact-id').val(contactId);
    let contact = accountContacts[contactId];
    $('#contact-name').val(contact.name);
    $('#contact-title').val(contact.title);
    $('#contact-email').val(contact.email);
    $('#contact-phone').val(contact.phone);
    $('#contact-mobile').val(contact.mobile);
    $('#contact-note').val(contact.note);
    if(contact.primary == 'True') {
        $('contact-primary').prop('checked', true);
    }
    else {
        $('#contact-primary').prop('checked', false);
    }
    $('#contact-delete-id').val(contactId);
    if (contactId == 0) {
        $('#contact-delete-btn').hide();
    }
    else {
        $('#contact-delete-btn').show();
    }
};
var notes = {
    0: {
        type: "MEETING", 
        note: "", 
    }, 
    {% for idx, row in account_note_df.iterrows() %}
    {{row.id}}: {
        type: "{{row.type}}", 
        note: `{{row.note}}`, 
    }, 
    {% endfor %}
}
$('textarea').bind('input', function () {
    this.style.height = 'auto';
    this.style.height = this.scrollHeight + 'px';
});
function noteToggle(noteType, noteId) {
    let note = notes[noteId];
    // $('#note').html(note.note);
    // if (noteId == 0) {
    //     $('#note-creator-div').show()
    //     $('#note-type-div').show()
    // }
    // else {
    //     $('#note-creator-div').hide()
    // }
    if (noteType == 'primary') {
        $('#partner-profile').toggle();
        $('#partner-profile-edit').toggle();
        $('#primary-id').val(noteId);
        $('#primary-note').val(note.note);
    }
    else if (noteType == 'interaction'){
        $('#interaction').toggle();
        $('#interaction-edit').toggle();
        $('#interaction-id').val(noteId);
        $('#interaction-type').val(note.type).trigger('change');
        $('#interaction-note').val(note.note);
        if (noteId == 0) {
            $('#interaction-creator-div').show()
        }
        else {
            $('#interaction-creator-div').hide()
        }
    }
    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + Math.max(50, this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });
    $('select').select2({
        width: "100%"
    });
}

{% if not monthview_df.empty %}
Highcharts.chart('sellin-by-month', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin by Month'
    },
    xAxis: {
        categories: [
            {% for idx, column in monthview_df.drop(columns=['Total']).iteritems() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in monthview_df.drop(columns=['Total']).iterrows() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});
{% endif %}

{% if not overview_df.empty %}
Highcharts.chart('sellin-overview', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin Overview ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [''],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, row in overview_df.iterrows() %}
        {
            name: "{{idx}}", 
            data: [
                {{row.revenue/100}},
            ]
        }, 
        {% endfor %}
    ]
});
{% endif %}

{% if not category_df.empty %}
Highcharts.chart('sellin-distri', {
    chart: {
        type: 'column'
    },
    title: {
text: 'Sellin by Distributor ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in distri_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in distri_df.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});
{% endif %}


{% if not category_df.empty %}
Highcharts.chart('sellin-category', {
    chart: {
        type: 'column'
    },
    title: {
text: 'Sellin by Category ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in category_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in category_df.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});
{% endif %}

{% if not sub_category_df.empty %}
Highcharts.chart('sellin-sub-category', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin by Sub-category ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in sub_category_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} EUR</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for idx, column in sub_category_df.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]
});
{% endif %}

{% if not sku_df.empty %}
var skuRevenueData = [
        {% for idx, column in sku_df.revenue.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e/100}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
var skuQtyData = [
        {% for idx, column in sku_df.qty.iteritems() %}
        {
            name: "{{idx}}", 
            data: [
                {% for e in column %}
                {{e}},
                {% endfor %}
            ]
        }, 
        {% endfor %}
    ]; 
// Revenue button action 
var element = document.getElementById('sellin-sku-revenue');
$(element).click(function () {
    skuChart.update({
        series: skuRevenueData,
        yAxis: {
            title: {
                text: 'Qty'
            },
            min: 0
        },
    });
});
// Qty button action 
var element = document.getElementById('sellin-sku-qty');
$(element).click(function () {
    skuChart.update({
        series: skuQtyData,
        yAxis: {
            title: {
                text: 'Sellin (EUR)'
            },
            min: 0
        },
    });
});
var skuChart = Highcharts.chart('sellin-sku', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sellin by SKU ({{date_start.strftime("%b %d")}} - {{date_end.strftime("%b %d")}})'
    },
    xAxis: {
        categories: [
            {% for idx, row in sku_df.iterrows() %}
            '{{idx}}', 
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sellin (EUR)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: skuRevenueData, 
});
{% endif %}

</script>
{% endblock %}
